jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7
  - openjdk6
install: ./gradlew setupCIWorkspace -S
script: ./gradlew build -S

env:
  global:
    TERM=dumb

cache:
    directories:
    - $HOME/.gradle
